<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/jspsych.css" rel="stylesheet" type="text/css">
    <title>Welcome</title>
</head>
<body>
    <div style='text-align:center; font-size: 1.5rem;'>
        <img src='pics/bgu-logo.png' style='max-width:20%;'></img>
        <h3>Study Title: Card selection task</h3>
    </div>
    
    <div class="my_div">
        <h4>Your total amount of money is: <%= totalAmount%> $</h4>
        <h4>To finish this experiment please press the buttton or 'enter'</h4>
    </div>

    <form action="/finish" method="POST" style="margin-left: 40%;">
        <button type="submit" name="submit">Finish</button>
    </form>

</body>
</html>